h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  font-size: 14px;
  margin: auto;
}

td {
  width: 12px;
  height: 12px;
}

th {
  height: 12px;
  width: 12px;
  text-align: center;
  position: relative;
}

th div {
  position: absolute;
}

.left div {
  top: -4px;
  right: 4px;
}

.top div {
  top: -5px;
  left: -5px;
  width: 20px;
}

td div {
  border: solid black 1px;
  width: 10px;
  height: 10px;
  -webkit-print-color-adjust: exact;
}

.legend {
  width: 800px;
  vertical-align: top;
  margin: 20px auto;
}

.legend-box {
  border: solid black 1px;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
  -webkit-print-color-adjust: exact;
}

.panel {
  width: 800px;
  margin: auto;
}

.buttons {
  text-align: right;
}
